/shelf/
/.idea
/CraftableCreatures.iml
/CraftableCreatures.ipr
/CraftableCreatures.iws
/build
/.gradle
/run/logs
/run/crash-reports
/run/
/run/options.txt
*.location
*.tree
*.dat
*.json
*.launch
*.mca
*.lock
*.cfg
*.dat_old
*.dat_mcr
*.zip
*.xml
*.jar
*.prefs