/.idea
*/.idea
/build
/conf
/temp
/jars
/bin
/forge
/logs
/out
/reobf
/runtime
/libraries
*.bat
*.iml
mod_MinecraftForge.info
fmlversion.properties
Start.java
gK.java
forge_logo.png
*.classpath
*.project
options.cfg
RetroMCP-Java-GUI.jar
/*/game
/*/bin
/*/jars
/*/output
/*/src_original
/*/md5
/*/reobf
/minecraft/minecraft_resources
sources.txt
/src/*/cpw
/src/minecraft/argo
/src/minecraft/ibxm
/src/minecraft/paulscode
/src/*/net

!/src/*/mod_CraftableCreatures.java