/.idea
/Client
/conf
/jars
/libraries
*.iml
*.classpath
*.project
options.cfg
RetroMCP-Java-GUI.jar
/*/game
/*/bin
/*/jars
/*/output
/*/src_original
/*/md5
/*/reobf
/minecraft/minecraft_resources
sources.txt
/*/src/forge
/*/src/net/minecraft
!/*/src/net/minecraft/src/mod_CraftableCreatures.java